body {
    font-family: Arial;
    background: #f3f4f6;
    padding: 30px;
}

.container {
    background: white;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
}

button {
    grid-column: span 5;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
